.container {
    height: 98vh;
    width: 98vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(237, 183, 237);
}

.ball {
    height: 80px;
    width: 80px;

    border-radius: 50%;

    background-color: rgb(95, 154, 212);

    animation: bounce 0.7s cubic-bezier(0,.56,.65,.99) infinite alternate;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200%);
    }
}
