.container {
    height: 98vh;
    width: 98vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(237, 183, 237);
}

.ball {
    height: 80px;
    width: 80px;

    border-radius: 50%;

    background-color: rgb(95, 154, 212);

    animation: bounce 1s ease-in infinite alternate;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-100%);
    }

    75% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(-200%);
    }
}
